*.o
*~
.deps
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/shiritori_server
/stamp-h1
/docbook-xsl.css
/README.html
/autoscan.log
/configure.scan
/test/tests